List of Product<br>

{{#link-to "product.create"}}Create New Product{{/link-to}}

<hr>

{{#if model}}
  <ul>
    {{#each model as |modprod|}}
      <li>
        Tipe Handphone: {{modprod.name}}<br>
        Ringtone: {{if modprod.isPolyponic "Polyponic" "Monoponic"}}<br>
        {{#link-to "product.detail" modprod.id}}Show Detail{{/link-to}} | 
        {{#link-to "product.edit" modprod.id}}Edit{{/link-to}} |
        <button {{action "deleteProduct" modprod.id}}>Delete</button>
      </li>
    {{/each}}
  </ul>
{{else}}
  <h5>Data tidak ditemukan</h5>
{{/if}}
<hr>
<BsButtonGroup
  @value={{page}}
  @type="radio"
  @onChange={{action (mut page)}} as |bg|>
  <bg.button @value="1">1</bg.button>
  <bg.button @value="2">2</bg.button>
  <bg.button @value="3">3</bg.button>
</BsButtonGroup>
{{outlet}}