List of Supplier<br>

{{#link-to "supplier.create"}}Add New Supplier{{/link-to}}

<hr>

{{#if model}}
  <ul>
    {{#each model as |modsupp|}}
      <li>
        Nama: {{modsupp.name}}<br>
        Alamat: {{modsupp.address}}<br>
        {{#link-to "supplier.detail" modsupp.id}}Show Detail{{/link-to}} |
        {{#link-to "supplier.edit" modsupp.id}}Edit{{/link-to}} |
        <button {{action "deleteSupplier" modsupp.id}}>Delete</button>
      </li>
    {{/each}}
  </ul>
{{else}}
  <h5>Data tidak ditemukan</h5>
{{/if}}
<hr>
<BsButtonGroup
  @value={{page}}
  @type="radio"
  @onChange={{action (mut page)}} as |bg|>
  <bg.button @value="1">1</bg.button>
  <bg.button @value="2">2</bg.button>
  <bg.button @value="3">3</bg.button>
</BsButtonGroup>
{{outlet}}